body {
  background: #EEEEEE;
}
.pump-window {
  margin: 20px auto;
  max-width: 800px;
  padding: 10px;
  border-radius: 30px;
  background: #f8ffb4;
  border: 2px solid black;
}
.progress {
  margin-top: 20px;
}
#pump {
  cursor: pointer;
  margin: auto;
  width: 188px;
  height: 188px;
  display: block;
  position: relative;
}
.pump-top,
.pump-bottom {
  position: absolute;
  background-position-y: 0px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.pump-top {
  background-image: url('images/pump_top.png');
}
.pump-top.won {
  background-position-y: 25px!important;
}
.pump-bottom {
  background-image: url('images/pump_bottom.png');
}
.alert-success, #restart {
  margin-top: 20px;
}
#restart {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ui-radio .ui-btn.ui-radio-on:after {
  padding: 4px;
}
input[name=difficulty] {
  display: none;
}
